<main>

  <section class="section">
    <div class="field has-addons is-justify-content-center">
      <h1>Kontakt!</h1>
    </div>
  </section>

  <section class="section">
    <div class="field has-addons is-justify-content-center">
      <form #ngForm="ngForm" [formGroup]="contactform" (submit)="sendContact()">
        <div class="columns">
          <div class="column">
            <label class="label">Name</label>
            <input class="input" type="text" formControlName="name" placeholder="Text input">
            <ng-container *ngIf="contactform.controls['name'] as name">
              <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors as errors">
                  <p *ngIf="name.hasError('required')"
                     class="has-text-danger">
                    Name ist pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="column">
            <div class="mt-4">
              <p>E-Mail:</p>
              <span>ausbildunginderpflege@gmail.com</span>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label class="label">E-mail-Adresse</label>
            <input class="input" type="email" formControlName="email" placeholder="Text input">
            <ng-container *ngIf="contactform.controls['email'] as email">
              <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors as errors">
                  <p *ngIf="email.hasError('required')" class="has-text-danger">E-Mail ist pflicht.</p>
                  <p *ngIf="email.hasError('pattern')" class="help is-danger">E-Mail ist nicht korrekt.</p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="column">
            <div class="mt-4">
              <p>Tel:</p>
              <span>017648731437</span>
            </div>
          </div>
        </div>

        <div class="column">
          <label class="label">Nachricht</label>
          <textarea class="textarea" formControlName="message" placeholder="e.g. Hello world"></textarea>
          <ng-container *ngIf="contactform.controls['message'] as message">
            <ng-container *ngIf=" ngForm.submitted && message.invalid || (message.dirty || message.touched)">
              <ng-container *ngIf="message.errors as errors">

                <p *ngIf="message.hasError('required')"
                   class="has-text-danger">
                  Nachricht ist pflicht.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <div class="column">
          <button class="button" type="submit">Kontaktieren</button>
        </div>
      </form>
    </div>
  </section>
</main>
