<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      <div class="rows">
        <div class="row" routerLink="home" style="padding-left: 60px">
          <span style="color:#000000"><strong>A</strong></span>
          <span style="color:#FD0707"><strong>I</strong></span>
          <span style="color:#FD0707"><strong>D</strong></span>
          <span style="color:#FFE815"><strong>P</strong></span>
        </div>
        <div class="row" routerLink="home" style="font-size: 15px"><a><strong>Ausbildung in der Pflege</strong></a>
        </div>
      </div>
    </a>
  </div>

  <div class="navbar-end has-text-centered">

    <a class="navbar-item" routerLink="open-position">Ausbildungsplätze</a>
    <a class="navbar-item ml-6" routerLink="about-us">Über uns</a>

    <div class="navbar-item has-dropdown is-hoverable" *ngIf="!isLoggedIn()">
      <a class="navbar-link">Registrieren</a>
      <div class="navbar-dropdown is-right">
        <a class="navbar-item" routerLink="/school-registration">Unternehmen</a>
        <a class="navbar-item" routerLink="/applicant-registration">Bewerber</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown  is-hoverable" *ngIf="!isLoggedIn()">
      <a class="navbar-link" routerLinkActive="active">Anmelden</a>
      <div class="navbar-dropdown is-right">
        <a class="navbar-item" routerLink="/school-login">Unternehmen</a>
        <a class="navbar-item" routerLink="/applicant-login">Bewerber</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown ml-6 mr-3 is-hoverable" *ngIf="isLoggedIn()">
      <a class="navbar-link" routerLinkActive="active">Mein Profil</a>
      <div class="navbar-dropdown is-right" *ngIf="!verify">
        <a class="navbar-item" routerLink="/applicant-profile">Profil bearbeiten</a>
        <a class="navbar-item" routerLink="/applicant-favorite-list">Meine gemerkte Stelle</a>
        <a class="navbar-item" routerLink="/applicant-applications">Meine Bewerbungen</a>
        <a class="navbar-item" (click)="logout()">Abmelden</a>
      </div>
      <div class="navbar-dropdown is-right" *ngIf="verify">
        <a class="navbar-item" routerLink="/school-profile">Mein Profil</a>
        <a class="navbar-item" routerLink="/schools-position">Meine Ausbildungsplätze</a>
        <a class="navbar-item" routerLink="/add-training-place">Ausbildungsplatz hinzufügen</a>
        <a class="navbar-item" (click)="logout()">Abmelden</a>
      </div>
    </div>

  </div>
</nav>

