<main>

  <section class="part mt-6">
    <div *ngIf="isLoggedIn">
      <form #ngForm="ngForm" (submit)="applicationWithAccount()" [formGroup]=applicationsForm>
        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Nachname</label>
            <input class="input" formControlName="name" placeholder="Fofack" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['name'] as name">
              <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors as errors">

                  <p *ngIf="name.hasError('required')"
                     class="has-text-danger">
                    Nachname ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="column is-one-fifth">
            <label class="label">Vorname</label>
            <input class="input" formControlName="firstName" placeholder="Daniele Regene" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['firstName'] as firstName">
              <ng-container *ngIf=" ngForm.submitted && firstName.invalid || (firstName.dirty || firstName.touched)">
                <ng-container *ngIf="firstName.errors as errors">

                  <p *ngIf="firstName.hasError('required')"
                     class="has-text-danger">
                    Vorname ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Geburtstadum</label>
            <input class="input" formControlName="dayOfBirth" placeholder="13.03.1993" readonly type="date">
            <ng-container *ngIf="applicationsForm.controls['dayOfBirth'] as dayOfBirth">
              <ng-container *ngIf=" ngForm.submitted && dayOfBirth.invalid || (dayOfBirth.dirty || dayOfBirth.touched)">
                <ng-container *ngIf="dayOfBirth.errors as errors">

                  <p *ngIf="dayOfBirth.hasError('required')"
                     class="has-text-danger">
                    Geburtstadum ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="column is-one-fifth">
            <label class="label">Gecshlecht</label>
            <div class="control">
            <label class="radio">
              <input formControlName="gender" readonly type="radio" value="W">
              W
            </label>
            <label class="radio">
              <input formControlName="gender" readonly type="radio" value="M">
              M
            </label>
            <label class="radio">
              <input formControlName="gender" readonly type="radio" value="D">
              D
            </label>
            <ng-container *ngIf="applicationsForm.controls['gender'] as gender">
              <ng-container *ngIf=" ngForm.submitted && gender.invalid || (gender.dirty || gender.touched)">
                <ng-container *ngIf="gender.errors as errors">

                  <p *ngIf="gender.hasError('required')"
                     class="has-text-danger">
                    Gecshlecht ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
              </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">E-Mail</label>
            <input class="input" formControlName="email" placeholder="daniele@yahoo.com" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['email'] as email">
              <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors as errors">
                  <p *ngIf="email.hasError('required')" class="has-text-danger">
                    E-Mail ist Pflicht.
                  </p>
                  <p *ngIf="email.hasError('pattern')" class="help is-danger">
                    E-Mail ist nicht korrekt.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="column is-one-fifth">
            <label class="label">Telefonummer</label>
            <input class="input" formControlName="phoneNumber" placeholder="0176457915" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['phoneNumber'] as phoneNumber">
              <ng-container
                *ngIf=" ngForm.submitted && phoneNumber.invalid || (phoneNumber.dirty || phoneNumber.touched)">
                <ng-container *ngIf="phoneNumber.errors as errors">

                  <p *ngIf="phoneNumber.hasError('required')"
                     class="has-text-danger">
                    Telefonummer ist Plicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Straße und Hausnummer</label>
            <input class="input" formControlName="streetNumber" placeholder="landstr.19" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['streetNumber'] as streetNumber">
              <ng-container
                *ngIf=" ngForm.submitted && streetNumber.invalid || (streetNumber.dirty || streetNumber.touched)">
                <ng-container *ngIf="streetNumber.errors as errors">

                  <p *ngIf="streetNumber.hasError('required')"
                     class="has-text-danger">
                    Straße und Hausnummer
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="column is-one-fifth">
            <label class="label">Postleitzahl</label>
            <input class="input" formControlName="postcode" placeholder="44155" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['postcode'] as postcode">
              <ng-container *ngIf=" ngForm.submitted && postcode.invalid || (postcode.dirty || postcode.touched)">
                <ng-container *ngIf="postcode.errors as errors">

                  <p *ngIf="postcode.hasError('required')"
                     class="has-text-danger">
                    Gecshlecht ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Stadt</label>
            <input class="input" formControlName="city" placeholder="Dortmund" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['city'] as city">
              <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
                <ng-container *ngIf="city.errors as errors">

                  <p *ngIf="city.hasError('required')"
                     class="has-text-danger">
                    Stadt ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>


          <div class="column is-one-fifth">
            <label class="label">Land</label>
            <input class="input" formControlName="country" placeholder="Deutschland" readonly type="text">
            <ng-container *ngIf="applicationsForm.controls['city'] as city">
              <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
                <ng-container *ngIf="city.errors as errors">

                  <p *ngIf="city.hasError('required')"
                     class="has-text-danger">
                    Land ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column is-one-fifths">
            <div class="file">
              <label class="file-label">
                <label class="label mr-3">Dokoument hochladen</label>
                <input (change)="onFileChange($event.target)" accept="[.pdf]" class="file-input" formControlName="file"
                       multiple="multiple" name="resume" type="file">
                <ng-container *ngIf="applicationsForm.controls['file'] as file">
                  <ng-container *ngIf=" ngForm.submitted && file.invalid || (file.dirty || file.touched)">
                    <ng-container *ngIf="file.errors as errors">

                      <p *ngIf="file.hasError('required')"
                         class="has-text-danger">
                        Dokument müssen hochgeladen werden.
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <span class="file-cta">
                  <span class="file-icon"><i class="fas fa-upload"></i> </span>
                  <span class="file-label">Choose a file</span>
                </span>
                <span class="selectedFile" *ngFor=" let file of pdfFiles">
                       {{file.name}}
                     </span>
              </label>
            </div>
          </div>
        </div>

        <div>
          <button class="button" type="submit">Jetzt bewerben</button>
        </div>
      </form>
    </div>


    <div *ngIf="!isLoggedIn">
      <form #ngForm="ngForm" (submit)="applicationNoAccount()" [formGroup]=applicationsForm>
        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Nachname</label>
            <input class="input" formControlName="name" placeholder="Fofack" type="text">
            <ng-container *ngIf="applicationsForm.controls['name'] as name">
              <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors as errors">

                  <p *ngIf="name.hasError('required')"
                     class="has-text-danger">
                    Nachname ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="column is-one-fifth">
            <label class="label">Vorname</label>
            <input class="input" formControlName="firstName" placeholder="Daniele Regene" type="text">
            <ng-container *ngIf="applicationsForm.controls['firstName'] as firstName">
              <ng-container *ngIf=" ngForm.submitted && firstName.invalid || (firstName.dirty || firstName.touched)">
                <ng-container *ngIf="firstName.errors as errors">

                  <p *ngIf="firstName.hasError('required')"
                     class="has-text-danger">
                    Vorname ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Geburtstadum</label>
            <input class="input" formControlName="dayOfBirth" placeholder="13.03.1993" type="date">
            <ng-container *ngIf="applicationsForm.controls['dayOfBirth'] as dayOfBirth">
              <ng-container *ngIf=" ngForm.submitted && dayOfBirth.invalid || (dayOfBirth.dirty || dayOfBirth.touched)">
                <ng-container *ngIf="dayOfBirth.errors as errors">

                  <p *ngIf="dayOfBirth.hasError('required')"
                     class="has-text-danger">
                    Geburtstadum ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="column is-one-fifth">
            <label class="label">Gecshlecht</label>
          <div class="control">
            <label class="radio">
              <input formControlName="gender" type="radio" value="W">
              W
            </label>
            <label class="radio">
              <input formControlName="gender" type="radio" value="M">
              M
            </label>
            <label class="radio">
              <input formControlName="gender" type="radio" value="D">
              D
            </label>
            <ng-container *ngIf="applicationsForm.controls['gender'] as gender">
              <ng-container *ngIf=" ngForm.submitted && gender.invalid || (gender.dirty || gender.touched)">
                <ng-container *ngIf="gender.errors as errors">

                  <p *ngIf="gender.hasError('required')"
                     class="has-text-danger">
                    Gecshlecht ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">E-Mail</label>
            <input class="input" formControlName="email" placeholder="daniele@yahoo.com" type="text">
            <ng-container *ngIf="applicationsForm.controls['email'] as email">
              <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors as errors">
                  <p *ngIf="email.hasError('required')" class="has-text-danger">
                    E-Mail ist Pflicht.
                  </p>
                  <p *ngIf="email.hasError('pattern')" class="help is-danger">
                    E-Mail ist nicht korrekt.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>


          <div class="column is-one-fifth">
            <label class="label">Telefonummer</label>
            <input class="input" formControlName="phoneNumber" placeholder="0176457915" type="text">
            <ng-container *ngIf="applicationsForm.controls['phoneNumber'] as phoneNumber">
              <ng-container
                *ngIf=" ngForm.submitted && phoneNumber.invalid || (phoneNumber.dirty || phoneNumber.touched)">
                <ng-container *ngIf="phoneNumber.errors as errors">

                  <p *ngIf="phoneNumber.hasError('required')"
                     class="has-text-danger">
                    Telefonummer ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Straße und Hausnummer</label>
            <input class="input" formControlName="streetNumber" placeholder="landstr.19" type="text">
            <ng-container *ngIf="applicationsForm.controls['streetNumber'] as streetNumber">
              <ng-container
                *ngIf=" ngForm.submitted && streetNumber.invalid || (streetNumber.dirty || streetNumber.touched)">
                <ng-container *ngIf="streetNumber.errors as errors">

                  <p *ngIf="streetNumber.hasError('required')"
                     class="has-text-danger">
                    Straße und Hausnummer
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="column is-one-fifth">
            <label class="label">Postleitzahl</label>
            <input class="input" formControlName="postcode" placeholder="44155" type="text">
            <ng-container *ngIf="applicationsForm.controls['postcode'] as postcode">
              <ng-container *ngIf=" ngForm.submitted && postcode.invalid || (postcode.dirty || postcode.touched)">
                <ng-container *ngIf="postcode.errors as errors">

                  <p *ngIf="postcode.hasError('required')"
                     class="has-text-danger">
                    Gecshlecht ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column is-one-fifth">
            <label class="label">Stadt</label>
            <input class="input" formControlName="city" placeholder="Dortmund" type="text">
            <ng-container *ngIf="applicationsForm.controls['city'] as city">
              <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
                <ng-container *ngIf="city.errors as errors">

                  <p *ngIf="city.hasError('required')"
                     class="has-text-danger">
                    Stadt ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>


          <div class="column is-one-fifth">
            <label class="label">Land</label>
            <input class="input" formControlName="country" placeholder="Deutschland" type="text">
            <ng-container *ngIf="applicationsForm.controls['city'] as city">
              <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
                <ng-container *ngIf="city.errors as errors">

                  <p *ngIf="city.hasError('required')"
                     class="has-text-danger">
                    Land ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column is-one-fifths">
            <div class="file">
              <label class="file-label">
                <label class="label mr-3">Dokoument hochladen</label>
                <input (change)="onFileChange($event.target)" accept="[.pdf]" class="file-input" formControlName="file"
                       multiple="multiple" name="resume" type="file">
                <ng-container *ngIf="applicationsForm.controls['file'] as file">
                  <ng-container *ngIf=" ngForm.submitted && file.invalid || (file.dirty || file.touched)">
                    <ng-container *ngIf="file.errors as errors">

                      <p *ngIf="file.hasError('required')"
                         class="has-text-danger">
                        Dokument müssen hochgeladen
                      </p>

                    </ng-container>
                  </ng-container>
                </ng-container>
                <span class="file-cta">
                  <span class="file-icon"><i class="fas fa-upload"></i> </span>
                  <span class="file-label">Choose a file</span>
                </span>
                <span class="selectedFile" *ngFor=" let file of pdfFiles">
                       {{file.name}}
                     </span>
              </label>
            </div>
          </div>
        </div>


        <div>
          <button class="button" type="submit">Jetzt bewerben</button>
        </div>
      </form>
    </div>
  </section>

</main>
