main {
  font-size: 16px;
}

h1 {
  font-weight: bolder;
}

.u {
  text-decoration: underline;
  text-decoration-color: #D99DF5;
  text-decoration-style: wavy;
  text-underline-offset: 1em;
  font-weight: bold;
}

.spacer {
  max-width: 50%;
}

h3 {
  font-size: larger;
  font-weight: bold;
}
ul li {
  list-style-type: square;
}

