<main>
  <section class="section">
    <div class="columns is-centered">
      <span><div class="u"> Über Ausbildung in der Pflege</div> </span>
    </div>
  </section>

  <section class="section">
    <div class="columns is-centered">
      <span class="spacer has-text-centered">
        Ausbildung in der Pflege ist eine Website, die von einer Studentin der Wirtschaftsinformatik an der
        Fachhochschule
        Dortmund. entwickelt wurde. Das Hauptziel der Website ist es, die Bereitstellung von Ausbildungsmöglichkeiten
        und den Bewerbungsprozess für
        Bewerber im Bereich der Pflege zu erleichtern.
        Die Ausbildung in der Pflege vermittelt theoretisches und
        praktisch, so dass man nach drei Jahren in diesem Bereich arbeiten kann.
      </span>
    </div>
  </section>
  <section class="section">
    <div class="columns is-centered">
      <div class="column">
        <article class="level-right">
          <div>
            <h3>Was bieten wir Ausbildungsplatzanbietern an ?</h3>
            <ul>
              <li> Registrierung und Anmeldung</li>
              <li>Profil bearbeiten</li>
              <li>Ausbildungsplatz hinzufügen</li>
              <li>Ausbildungsplatz löschen und bearbeiten</li>
              <li>E-Mail Benachrichtigung nach Bewerbungseingang</li>
            </ul>
          </div>

        </article>
      </div>
      <div class="column">
        <h3>Was bieten wir Bewerbern an ?</h3>
        <ul>
          <li>Registrierung und Anmeldung</li>
          <li>Profil bearbeiten</li>
          <li>Bewerbung mit und ohne Account</li>
          <li>E-Mail Benachrichtigung nach erfolgreicher Bewerbung</li>
        </ul>
      </div>
    </div>
  </section>
</main>


