.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #AE13F8;
  padding: 5rem;
  height: fit-content;
}
main{
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
}
