<main>
  <section class="section">
    <div class="container">
      <h4>Vielen Dank für Ihre Bewerbung!</h4>
      <p>
        Wir haben Ihre Bewerbung erhalten und werden uns bei Ihnen melden,
        sobald die Bearbeitung Ihrer Bewerbung abgeschlossen ist.  </p>
    </div>
  </section>
</main>
