main {
  align-content: center;
}

.button {
  background-color: #AE13F8;
  color: white;
}


input, textarea {
  min-width: 25em;
}

@media (max-width: 396px) {
  input, textarea {
    max-width: 10em;
    min-width: 5em;
  }

}

.label {
  font-weight: normal;
}
