<main>

  <section>
    <div class="tabs is-medium">
      <ul>
        <li class="is-active"><a routerLink="../school-profile">Mein Profil</a></li>
        <li><a routerLink="../schools-position">Meine Stellen</a></li>
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="field has-addons is-justify-content-center">
      <form #ngForm="ngForm" [formGroup]="trainingform" (submit)=submit()>
        <div class="columns">
          <div class="column ">
            <label class="label">Stelle Titel</label>
          </div>
          <div class="column ">
            <input class="input" type="text" formControlName="jobTitel"
                   placeholder="Ausbildungspflegefachfrau/mann(w,m,d)">
            <ng-container *ngIf="trainingform.controls['jobTitel'] as jobTitel">
              <ng-container *ngIf=" ngForm.submitted && jobTitel.invalid || (jobTitel.dirty || jobTitel.touched)">
                <ng-container *ngIf="jobTitel.errors as errors">

                  <p *ngIf="jobTitel.hasError('required')"
                     class="has-text-danger">
                    Stelle Titel ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column ">
            <label class="label">Stellenbeschreibung</label>
          </div>
          <div class="column ">
          <textarea class="textarea" type="text" formControlName="jobDescription"
                    placeholder="Ausbildungspflegefachfrau/mann(w,m,d)"></textarea>
            <ng-container *ngIf="trainingform.controls['companyDescription'] as jobDescription">
              <ng-container
                *ngIf=" ngForm.submitted && jobDescription.invalid || (jobDescription.dirty || jobDescription.touched)">
                <ng-container *ngIf="jobDescription.errors as errors">

                  <p *ngIf="jobDescription.hasError('required')"
                     class="has-text-danger">
                    Die Beschreibung ist Pflich.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column ">
            <label class="label">Was wir Ihnen anbieten</label>
          </div>
          <div class="column ">
            <textarea class="textarea" type="text" formControlName="offer"
                      placeholder="Was wir ihnen bieten">
            </textarea>
            <ng-container *ngIf="trainingform.controls['offer'] as offer">
              <ng-container *ngIf=" ngForm.submitted && offer.invalid || (offer.dirty || offer.touched)">
                <ng-container *ngIf="offer.errors as errors">

                  <p *ngIf="offer.hasError('required')"
                     class="has-text-danger">
                    Name ist Pflicht
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <div class="columns">
          <div class="column">
            <label class="label">Ihr Profil</label>
          </div>
          <div class="column">
          <textarea class="textarea" type="text" formControlName="yourProfile"
                    placeholder="Was wir ihnen bieten"></textarea>
            <ng-container *ngIf="trainingform.controls['yourProfile'] as yourProfile">
              <ng-container
                *ngIf=" ngForm.submitted && yourProfile.invalid || (yourProfile.dirty || yourProfile.touched)">
                <ng-container *ngIf="yourProfile.errors as errors">

                  <p *ngIf="yourProfile.hasError('required')"
                     class="has-text-danger">
                    Bewerber Profil ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <p><strong>Kontanktdaten</strong></p>

        <div class="columns">
          <div class="column">
            <label class="label">Name</label>
          </div>
          <div class="column ">
            <input class="input" type="text" formControlName="contactPersonName" placeholder="Was wir ihnen bieten">
            <ng-container *ngIf="trainingform.controls['contactPersonName'] as contactPersonName">
              <ng-container
                *ngIf=" ngForm.submitted && contactPersonName.invalid || (contactPersonName.dirty || contactPersonName.touched)">
                <ng-container *ngIf="contactPersonName.errors as errors">

                  <p *ngIf="contactPersonName.hasError('required')"
                     class="has-text-danger">
                    Name ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="columns">
          <div class="column ">
            <label class="label">E-Mail</label>
          </div>
          <div class="column ">
            <input class="input" type="email" formControlName="contactPersonEmail" placeholder="allo">
            <ng-container *ngIf="trainingform.controls['contactPersonEmail'] as contactPersonEmail">
              <ng-container
                *ngIf="ngForm.submitted && contactPersonEmail.invalid || (contactPersonEmail.dirty || contactPersonEmail.touched)">
                <ng-container *ngIf="contactPersonEmail.errors as errors">
                  <p *ngIf="contactPersonEmail.hasError('required')" class="has-text-danger">
                    E-Mail ist Pflicht.
                  </p>
                  <p *ngIf="contactPersonEmail.hasError('pattern')" class="help is-danger">
                    E-Mail ist nicht korrekt.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <button *ngIf="isEditedMod === false" class="button" type="submit">Ausbildungsplatz hinzufügen</button>
        <button *ngIf="isEditedMod" class="button" type="submit">Bearbeiten und speichern</button>
      </form>
    </div>
  </section>
</main>
