<main>
  <section class="section">
    <div class="columns is-centered">
      <div class="comForm">
        <form [formGroup]="companyRegisterForm" #ngForm="ngForm" (submit)="submethode()">
          <div>
            <h3>Unternehmen Registrierung</h3>
            <div>
              <label class="label">Schulename</label>
              <input type="text" class="input" placeholder="Diakonie" formControlName="name">
              <ng-container *ngIf="companyRegisterForm.controls['name'] as name">
                <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
                  <ng-container *ngIf="name.errors as errors">
                    <p *ngIf="name.hasError('required')"
                       class="has-text-danger">
                      Name ist Pflicht.
                    </p>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>

            <div class="field">
              <label class="label">E-Mail</label>
              <div class="control">
                <input type="text" class="input" placeholder="diakonie@yahoo.com" formControlName="email">
                <ng-container *ngIf="companyRegisterForm.controls['email'] as email">
                  <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                    <ng-container *ngIf="email.errors as errors">
                      <p *ngIf="email.hasError('required')" class="has-text-danger">
                        E-Mailail ist Pflicht
                      </p>
                      <p *ngIf="email.hasError('pattern')" class="help is-danger">
                        E-Mail ist nicht korrekt.
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="field">
              <label class="label">Passwort</label>
              <div class="control">
                <input type="password" class="input" placeholder="daikonie" formControlName="password">
                <ng-container *ngIf="companyRegisterForm.controls['password'] as password">
                  <ng-container *ngIf="ngForm.submitted && password.invalid || (password.dirty || password.touched)">
                    <ng-container *ngIf="password.errors as errors">
                      <p *ngIf="password.hasError('required')" class="has-text-danger">
                        Passwort ist Pflicht.
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="field">
              <label class="label">Telefonnummer</label>
              <div class="control">
                <input type="text" class="input" placeholder="02258564" formControlName="phoneNumber">
                <ng-container *ngIf="companyRegisterForm.controls['phoneNumber'] as phoneNumber">
                  <ng-container
                    *ngIf="ngForm.submitted && phoneNumber.invalid || (phoneNumber.dirty || phoneNumber.touched)">
                    <ng-container *ngIf="phoneNumber.errors as errors">
                      <p *ngIf="phoneNumber.hasError('required')" class="has-text-danger">
                        Passwort ist Pflicht.
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="field">
              <label class="label">Ausbildungsart</label>
              <div class="control">
                <input type="text" class="input" placeholder="Theorie" formControlName="formationType">
                <ng-container *ngIf="companyRegisterForm.controls['ausbildungArt'] as formationType">
                  <ng-container
                    *ngIf="ngForm.submitted && formationType.invalid || (formationType.dirty || formationType.touched)">
                    <ng-container *ngIf="formationType.errors as errors">
                      <p *ngIf="formationType.hasError('required')" class="has-text-danger">
                        Ausbildungsart ist Pflicht.
                      </p>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="mt-6">
              <div class="field has-addons is-justify-content-flex-start">
                <button class="button" type="submit">Jetzt registrieren</button>
              </div>
              <div class="mt-3">
                <p class="field ">Hast du bereits einen Account? <a routerLink="/school-login"><span
                  class='special-word'>Einloggen.</span></a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>


