main {
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
}
.label {
  font-weight: normal;
}

.input {
  height: 30px;
  width: 300px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: medium;
  font-weight: bold;
}

.button {
  background-color: #AE13F8;
  color: white;
  width: 19em;
  height: 3em;
}

.special-word {
  color: #AE13F8;
  font-size: medium;
}

.comForm {
  background-color: #FFFFFF;
  border: 1px solid #AE13F8;
  padding: 30px;
}

