<main>
<section class="mb-6">
  <div class="tabs is-medium">
    <ul>
      <li><a routerLink="../school-profile">Mein Profil</a></li>
      <li class="is-active"><a routerLink="../schools-position">Meine Ausbildungsplätze</a></li>
    </ul>
  </div>
</section>

  <div *ngFor=" let schoolPositionList of pos">
    <section class="columns is-centered mb-6">
      <div class="field has-text-centered ">
        <div class="columns sort">
          <div class="column">
            <span>{{schoolPos.name}}</span> <br>
            <span>{{schoolPos.formationType}}</span>
          </div>
          <div class="column">
            <p>{{schoolPositionList.jobTitel}}</p>
            <p>{{schoolPos.address.postcode}} {{schoolPos.address.city}}</p>
          </div>
          <div class="column has-text-link">
            <p><a routerLink="/update-training-place/{{schoolPositionList.id}}">Bearbeiten</a></p>
          </div>
          <div class="column has-text-link">
            <button class="button" (click)="deletePosition(schoolPositionList.id)">Löschen</button>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>
