<main>
  <section class="section">
    <div class="columns is-centered">
      <div class="userForm">
        <form [formGroup]="registerForm" #ngForm="ngForm" (submit)="submitregistration()">
          <h3>Registriert dich bei Ausbildung in der Pflege</h3>
          <div>
            <label class="label">Name</label>
            <input class="input mb-2" type="text" formControlName="name">
            <ng-container *ngIf="registerForm.controls['name'] as name">
              <ng-container *ngIf="ngForm.submitted && name.invalid || (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors as errors">
                  <p *ngIf="name.hasError('required')" class="has-text-danger">
                    Name ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div>
            <label class="label">E-Mail</label>
            <input class="input mb-2" type="text" formControlName="email">
            <ng-container *ngIf="registerForm.controls['email'] as email">
              <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors as errors">
                  <p *ngIf="email.hasError('required')" class="has-text-danger">
                    E-Mail ist Plicht.
                  </p>
                  <p *ngIf="email.hasError('pattern')" class="help is-danger">
                    E-Mail ist nicht korrekt.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div>
            <label class="label">Passwort</label>
            <input class="input " type="password" formControlName="password">
            <ng-container *ngIf="registerForm.controls['password'] as password">
              <ng-container *ngIf="ngForm.submitted && password.invalid || (password.dirty || password.touched)">
                <ng-container *ngIf="password.errors as errors">
                  <p *ngIf="password.hasError('required')" class="has-text-danger">
                    Passwort ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="mt-6">
            <div class="field has-addons is-justify-content-flex-start">
              <button class="button" type="submit">Jetzt registrieren</button>
            </div>
            <div>
              <p>Hast du bereits einen Account ? <a routerLink="/applicant-login"><span class='special-word'>Einloggen</span></a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

