<main>

  <section>
    <div class="tabs is-medium">
      <ul>
        <li class="is-active"><a routerLink="../company-profile">Mein Profil</a></li>
        <li><a routerLink="../schools-position">Meine Ausbildungsplätze</a></li>
      </ul>
    </div>
  </section>

  <section class="section">

    <div class="field is-grouped is-grouped-right">
      <button class="button">
        <a routerLink="../add-training-place"> Ausbildungsplatz hinzufügen</a>
      </button>
    </div>

    <form #ngForm="ngForm" [formGroup]="schoolForm" (submit)="submethode()">

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Unternehmensname</label>
          <input class="input" type="text" formControlName="name">
          <ng-container *ngIf="schoolForm.controls['name'] as name">
            <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
              <ng-container *ngIf="name.errors as errors">

                <p *ngIf="name.hasError('required')"
                   class="has-text-danger">
                  Vorname ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Straße und Hausnummer</label>
          <input class="input" type="text" formControlName="streetNumber">
          <ng-container *ngIf="schoolForm.controls['streetNumber'] as streetNumber">
            <ng-container
              *ngIf=" ngForm.submitted && streetNumber.invalid || (streetNumber.dirty || streetNumber.touched)">
              <ng-container *ngIf="streetNumber.errors as errors">

                <p *ngIf="streetNumber.hasError('required')"
                   class="has-text-danger">
                  Straße und Hausnummer
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Postleitzahl</label>
          <input class="input" type="text" formControlName="postcode">
          <ng-container *ngIf="schoolForm.controls['postcode'] as postcode">
            <ng-container *ngIf=" ngForm.submitted && postcode.invalid || (postcode.dirty || postcode.touched)">
              <ng-container *ngIf="postcode.errors as errors">

                <p *ngIf="postcode.hasError('required')"
                   class="has-text-danger">
                  Postleitzahl ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Stadt</label>
          <input class="input" type="text" formControlName="city">
          <ng-container *ngIf="schoolForm.controls['city'] as city">
            <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
              <ng-container *ngIf="city.errors as errors">

                <p *ngIf="city.hasError('required')"
                   class="has-text-danger">
                  Stadt ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Land</label>
          <input class="input" type="text" formControlName="country">
          <ng-container *ngIf="schoolForm.controls['country'] as country">
            <ng-container *ngIf=" ngForm.submitted && country.invalid || (country.dirty || country.touched)">
              <ng-container *ngIf="country.errors as errors">

                <p *ngIf="country.hasError('required')"
                   class="has-text-danger">
                  Land ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-two-fifths">
          <label class="label">E-Mail</label>
          <input class="input" type="text" formControlName="email">
          <ng-container *ngIf="schoolForm.controls['email'] as email">
            <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
              <ng-container *ngIf="email.errors as errors">
                <p *ngIf="email.hasError('required')" class="has-text-danger">
                  E-Mail ist Pflicht.
                </p>
                <p *ngIf="email.hasError('pattern')" class="help is-danger">
                  E-mail ist nicht korrekt.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Telefonnummer</label>
          <input class="input" type="tel" formControlName="phoneNumber">
          <ng-container *ngIf="schoolForm.controls['phoneNumber'] as phoneNumber">
            <ng-container
              *ngIf=" ngForm.submitted && phoneNumber.invalid || (phoneNumber.dirty || phoneNumber.touched)">
              <ng-container *ngIf="phoneNumber.errors as errors">

                <p *ngIf="phoneNumber.hasError('required')"
                   class="has-text-danger">
                  Telefonnummer ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Ausbildungsart</label>
          <input class="input" type="text" formControlName="formationType">
          <ng-container *ngIf="schoolForm.controls['formationType'] as formationType">
            <ng-container
              *ngIf=" ngForm.submitted && formationType.invalid || (formationType.dirty || formationType.touched)">
              <ng-container *ngIf="formationType.errors as errors">

                <p *ngIf="formationType.hasError('required')"
                   class="has-text-danger">
                  Ausbildungsart ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="field">
        <button class="button is-medium mb-3 is-light" style="color: white" type="submit">
          Speichern
        </button>
      </div>
    </form>
  </section>

</main>

