
.button {
  display: flex;
  justify-content: center;
  background-color: #AE13F8;
  color: white;
}

#container{
  color: #AE13F8;
font-size: xx-large;
}

#recht {
  margin-right: 1em;
}

#recht1 {
  margin-left: 1em;
}

hr {
  border: 0;
  border-top: 2px solid #AE13F8;
}

.field {
  width: 80%;
  height: auto;
  border: 1px solid #D99DF5;
  padding: 20px 5px 0px 5px;
}
.material-icons:hover{
  cursor: pointer;
}


