<main>
  <section class="section">
    <h4 class="title is-4 is-bold pt-3 pl-3">Offene Ausbildungsplätze</h4>
    <div *ngFor="let schoolPosition of positionList">
      <section>
        <div class="field mb-6">
          <nav class="is-centered has-text-centered columns">
            <div class="column">

              <p>{{schoolPosition.schoolName}}</p>
              <p>{{schoolPosition.formationType}}</p>
            </div>

            <div class="column">
              <p>{{schoolPosition.position.jobTitel}}</p>
              <span class="material-icons" id="recht">
                 room</span>{{schoolPosition.schoolAddress.postcode}} &nbsp;{{schoolPosition.schoolAddress.city}}
              <span class="material-icons mb-6" id="recht1">
                    share
                </span>
            </div>

            <nav class="column">
              <div>
                  <span class="material-icons">
                   <a routerLink="/applicant-favorite-list">bookmark_border</a>
                  </span>
                <span class="material-icons" id="container"
                      routerLink="/position-description/{{schoolPosition.position.id}}">
                   navigate_next
                  </span>
              </div>
            </nav>
          </nav>
        </div>
      </section>

    </div>
  </section>
</main>
