html,boby{
  height: 100%;
  line-height: 1.8rem;
  -webkit-text-size-adjust: 100%;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main{
  min-height: 90vh;
}
body{
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
