<main>
  <section class="section" *ngIf="position">
    <div class="field">
      <p class="title is-5 is-centered">Ausbildungsplatz Beschreibung </p>
      <div>
        <p class="subtitle">{{position.jobTitel}}</p>
      </div>

      <p title="is-6"><strong>Beschreibung</strong></p>
      <div class="content is-normal">
        <p> {{position.jobDescription}} </p>
      </div>

      <p title="is-6"><strong>Was wir Ihnen anbieten:</strong></p>
      <div class="content is-normal">
        <p>{{position.offer}}</p>
      </div>

      <p title="is-6"><strong>Ihr Profil:</strong></p>
      <div class="content is-normal">
        <p>{{position.yourProfile}}</p>
      </div>

      <p title="is-6"><strong>Kontakt Person</strong></p>
      <div>
        <p>{{position.contactPersonName}}</p>
        <p>{{position.contactPersonEmail}}</p>
      </div>
      <div>
        <button class="button"  style="color: #FFFFFF" (click)="getPositionId()" >Bewerbung starten</button>
      </div>
    </div>
  </section>
</main>
