main {
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
}


.label {
  font-weight: normal;
}


.input {
  height: 30px;
  width: 300px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Arial;
  font-size: medium;
  font-weight: bold;
}

.special-word {
  color: #AE13F8;
}

.button {
  background-color: #AE13F8;
  width: 20em;
  height: 3em;
  color: white;
}

.schoolForm {
  background-color: #FFFFFF;
  border: 1px solid #AE13F8;
  padding: 30px;
}





