<main>
  <section class="section">
    <div class="columns is-centered">
      <div class="schoolForm">
        <form [formGroup]="loginForm" #ngForm="ngForm" (submit)="submethode()">
          <h3>Einloggen als Unternehmen</h3>
          <div>
            <label class="label">E-Mail</label>
            <input class="input mb-2" type="text" formControlName="email">
            <ng-container *ngIf="loginForm.controls['email'] as email">
              <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors as errors">
                  <p *ngIf="email.hasError('required')" class="has-text-danger">
                    E-Mail ist Pflicht
                  </p>
                  <p *ngIf="email.hasError('pattern')" class="help is-danger">
                    E-Mail ist nicht korrekt.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div>
            <label class="label">Passwort</label>
            <input class="input " type="password" formControlName="password">
            <ng-container *ngIf="loginForm.controls['password'] as password">
              <ng-container *ngIf="ngForm.submitted && password.invalid || (password.dirty || password.touched)">
                <ng-container *ngIf="password.errors as errors">
                  <p *ngIf="password.hasError('required')" class="has-text-danger">
                    Passwort ist Pflicht.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="mt-6">
            <div class="field has-addons is-justify-content-flex-start">
              <button class="button " type="submit">Jetzt einloggen</button>
            </div>
            <div>
              <p>Hast du bereits keinen Account ? <a routerLink="/school-registration"><span class='special-word'>Jetzt registrieren</span></a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

