
h3 {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}

p {
  font-family: Arial;
}

.top {
  background-color: #D99DF5;
  color: #ffffff;
  height: 50%;
  padding: 10px;
}

.bottom {
  background-color: #ffffff;
  color: #000000;
  height: 50%;
  position: relative;
  bottom: 0;
  justify-items: baseline;
  padding: 10px;
}

.box {
  padding: 0;
  width: 60%;
  height: auto;
  margin: 20px;
}
.button {
  color: white;
  background-color: #D99DF5;
}

article {
  width: 50%;
font-size: larger;
}





