<main>
  <section class="section">
    <h3>Wer sind wir</h3>
    <article>
      Ausbildung in der Pflege ist eine Website, die von einer Studentin der Wirtschaftsinformatik an der Fachhochschule
      Dortmund. entwickelt wurde. Das Hauptziel der Website ist es, die Bereitstellung von Ausbildungsmöglichkeiten und
      den Bewerbungsprozess für
      Bewerber im Bereich der Pflege zu erleichtern.
      Die Ausbildung in der Pflege vermittelt theoretisches und
      praktisch, so dass man nach drei Jahren in diesem Bereich arbeiten kann.
    </article>
  </section>

  <section class="section" *ngIf="!islisteEmpty">
    <div class="columns is-centered" >
      <div class="column" *ngFor="let schoolPosition of twoPositionElement">
        <div class="box">
          <div class="top">
            <div class="element"><a routerLink="open-position "
                                    style="color: white">{{schoolPosition.position.jobTitel}}</a></div>
            <div class="element">{{schoolPosition.schoolName}}</div>
            <div class="element">{{schoolPosition.formationType}}</div>
          </div>
          <div class="bottom">
            <div><span
              class="material-icons">room</span>{{schoolPosition.schoolAddress.postcode}}&ensp;{{schoolPosition.schoolAddress.city}}
            </div>
            <div class="field has-addons is-justify-content-flex-end">
            <span class="material-icons">
              <a routerLink="/position-description/{{schoolPosition.position.id}}">navigate_next</a>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right">
        <button  class="button "><a routerLink="/open-position">Mehr</a></button>
    </div>

  </section>

</main>
