<main>
  <section>
    <div class="tabs is-medium">
      <ul>
        <li class="is-active"><a routerLink="../applicant-profile">mein Profil</a></li>
        <li><a routerLink="../applicant-applications">Meine Bewerbungen</a></li>
        <li><a routerLink="../applicant-favorite-list">Gemerkte Stelle</a></li>
      </ul>
    </div>
  </section>

  <section>
    <h4 class="title is-4 is-bold pt-3 pl-3 ml-6">Mein Profil</h4>
  </section>

  <section class="part">
    <form #ngForm=ngForm (submit)="updateFromData()" [formGroup]="applicantform">
      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Nachname</label>
          <input class="input" formControlName="name" placeholder="Fofack" type="text">
          <ng-container *ngIf="applicantform.controls['name'] as name">
            <ng-container *ngIf=" ngForm.submitted && name.invalid || (name.dirty || name.touched)">
              <ng-container *ngIf="name.errors as errors">

                <p *ngIf="name.hasError('required')"
                   class="has-text-danger">
                  Nachname ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Vorname</label>
          <input class="input" formControlName="firstName" placeholder="Daniele Regene" type="text">
          <ng-container *ngIf="applicantform.controls['firstName'] as firstName">
            <ng-container *ngIf=" ngForm.submitted && firstName.invalid || (firstName.dirty || firstName.touched)">
              <ng-container *ngIf="firstName.errors as errors">

                <p *ngIf="firstName.hasError('required')"
                   class="has-text-danger">
                  Vorname ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="columns">


        <div class="column is-one-fifth">
          <label class="label">Geburtsdatum</label>
          <input class="input" formControlName="dayOfBirth" placeholder="1993.03.13" type="date">
          <ng-container *ngIf="applicantform.controls['dayOfBirth'] as dayOfBirth">
            <ng-container *ngIf=" ngForm.submitted && dayOfBirth.invalid || (dayOfBirth.dirty || dayOfBirth.touched)">
              <ng-container *ngIf="dayOfBirth.errors as errors">

                <p *ngIf="dayOfBirth.hasError('required')"
                   class="has-text-danger">
                  Geburtstadum ist Pflicht.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Geschlecht</label>
          <div class="control">
            <label class="radio">
              <input formControlName="gender" type="radio" value="W">
              W
            </label>
            <label class="radio">
              <input formControlName="gender" type="radio" value="M">
              M
            </label>
            <label class="radio">
              <input formControlName="gender" type="radio" value="D">
              D
            </label>
            <ng-container *ngIf="applicantform.controls['gender'] as gender">
              <ng-container *ngIf=" ngForm.submitted && gender.invalid || (gender.dirty || gender.touched)">
                <ng-container *ngIf="gender.errors as errors">

                  <p *ngIf="gender.hasError('required')"
                     class="has-text-danger">
                    Gecshlecht ist Pflicht.
                  </p>

                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Straße und Hausnummer</label>
          <input class="input" formControlName="streetNumber" placeholder="landstraße.19" type="text">
          <ng-container *ngIf="applicantform.controls['streetNumber'] as streetNumber">
            <ng-container
              *ngIf=" ngForm.submitted && streetNumber.invalid || (streetNumber.dirty || streetNumber.touched)">
              <ng-container *ngIf="streetNumber.errors as errors">

                <p *ngIf="streetNumber.hasError('required')"
                   class="has-text-danger">
                  Straße und Hausnummer
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Postleitzahl</label>
          <input class="input" formControlName="postcode" placeholder="44155" type="text">
          <ng-container *ngIf="applicantform.controls['postcode'] as postcode">
            <ng-container *ngIf=" ngForm.submitted && postcode.invalid || (postcode.dirty || postcode.touched)">
              <ng-container *ngIf="postcode.errors as errors">

                <p *ngIf="postcode.hasError('required')"
                   class="has-text-danger">
                  Postleitzahl ist Pflicht.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Stadt</label>
          <input class="input" formControlName="city" placeholder="Dortmund" type="text">
          <ng-container *ngIf="applicantform.controls['city'] as city">
            <ng-container *ngIf=" ngForm.submitted && city.invalid || (city.dirty || city.touched)">
              <ng-container *ngIf="city.errors as errors">

                <p *ngIf="city.hasError('required')"
                   class="has-text-danger">
                  Stadt ist Pflicht.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Land</label>
          <input class="input" formControlName="country" placeholder="Deutschland" type="text">
          <ng-container *ngIf="applicantform.controls['country'] as country">
            <ng-container *ngIf=" ngForm.submitted && country.invalid || (country.dirty || country.touched)">
              <ng-container *ngIf="country.errors as errors">

                <p *ngIf="country.hasError('required')"
                   class="has-text-danger">
                  Land ist Pflicht.
                </p>

              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">E-Mail</label>
          <input class="input" formControlName="email" placeholder="fofack@yahoo.com" type="text">
          <ng-container *ngIf="applicantform.controls['email'] as email">
            <ng-container *ngIf="ngForm.submitted && email.invalid || (email.dirty || email.touched)">
              <ng-container *ngIf="email.errors as errors">
                <p *ngIf="email.hasError('required')" class="has-text-danger">
                  E-Mmail ist Pflicht.
                </p>
                <p *ngIf="email.hasError('pattern')" class="help is-danger">
                  E-Mmail ist nicht korrekt.
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="column is-one-fifth">
          <label class="label">Telefonnummer</label>
          <input class="input" formControlName="phoneNumber" placeholder="017648731437" type="text">
        </div>
      </div>

      <div class="field has-addons is-justify-content-flex-start">
        <button class="button" type="submit">Daten speichern</button>
      </div>
    </form>
  </section>
</main>
