.button {
  display: flex;
  background-color: #AE13F8;
  color: white;
  margin-left: 6em;
  margin-bottom: 6em;
}

.column {
  margin-left: 6em;
}

.label {
  font-weight: normal;
}

.part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  min-height: 90vh;
}

