<main>
  <section>
    <div class="tabs is-medium">
      <ul>
        <li><a routerLink="../applicant-profile">mein Profil</a></li>
        <li class="is-active"><a>Meine Bewerbungen</a></li>
        <li><a routerLink="../applicant-favorite-list">Gemerkte Stelle</a></li>
      </ul>
    </div>
  </section>

  <section class="section">
    <p>coming soon!</p>
  </section>

</main>
