<footer>
  <div class="columns is-desktop  has-text-centered">
    <div class="column "><a routerLink="/about-us">Über uns</a></div>
    <div class="column"><a routerLink="/contact">Kontakt</a></div>
    <div class="column"><a routerLink="data-protection">Datenschutz</a></div>
    <div class="column"><a routerLink="imprint">Impressum</a></div>
    <div class="column"><a routerLink="/faq">FAQ</a></div>
  </div>

  <div class="has-text-centered">
    <a class="button is-medium is-facebook" target="_blank" href="https://www.facebook.com/ausbildung in der pflege">
      <span class="icon"><i class="fab fa-facebook"></i></span>
    </a>
    <a class="button is-medium is-instagram" target="_blank" href="https://www.instagram.com/ausbildung in der pflege">
      <span class="icon"><i class="fab fa-instagram"></i></span>
    </a>
  </div>

  <div class="has-text-centered">
    © 2023 Copyright: Ausbildung in der Pflege 2022
  </div>
</footer>

